/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html {
	scroll-behavior: smooth;
}

/*++++++++++++++++++++++++++ START varibles ++++++++++++++++++++++++++++*/
:root {
	/*========== Colors ==========*/
	--first-color: #d50b00;
	--text-color: #fff;
	--text-color-grey: rgb(166, 167, 171);
	--body-color: #0b0b0d;

	/*========== Font and typography ==========*/
	--body-font: 'Poppins', sans-serif;
}
/*++++++++++++++++++++++++++ END varibles ++++++++++++++++++++++++++++*/

body {
	margin: 0;
	padding: 0;
	font-family: var(--body-font);
	background-color: var(--body-color);
	color: var(--text-color);
	overflow-x: hidden;
	box-sizing: border-box;
}

.flex {
	display: flex;
	gap: 3rem;
}

/* Header Styles */
header {
	background-color: var(--body-color);
	color: var(--text-color);
	padding: 10px;
	align-items: center;
	justify-content: space-between;
}

.navToggle {
	display: none;
}

.navBar {
	list-style-type: none;
	margin: 0 2rem 0 0;
	padding: 1rem 3rem;
	backdrop-filter: blur(0.75rem);
	background: rgba(166, 164, 171, 0.25);
	border-radius: 2rem;
}

.navBar button {
	display: flex;
	background-color: transparent;
	border: none;
}

.navBar button a {
	color: var(--text-color);
	font-size: 15px;
	text-decoration: none;
}

nav .homeLink,
nav .igLink {
	display: none;
}

.logo img {
	height: 35px;
}

@media (max-width: 35em) {
	.navBar {
		position: fixed;
		margin: 0;
		z-index: 1000;
		height: 100vh;
		background: rgba(0, 0, 0, 0.25);
		inset: 0 0 0 0%;
		border-radius: 0;
		gap: 2rem;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		transform: translateX(100%);
		transition: transform 350ms ease-in-out;
	}

	.navBar button {
		background-color: var(--first-color);
		border-radius: 20px;
		border: 1px solid var(--first-color);
	}

	.navBar button:hover {
		background: transparent;
	}

	.navBar button a {
		color: var(--text-color);
		font-size: 20px;
		width: 100px;
		padding: 8px 20px;
	}

	.logo img {
		display: none;
	}

	nav .homeLink,
	nav .igLink {
		display: flex;
	}

	.navBar.active {
		transform: translateX(0%);
	}

	.navToggle {
		display: block;
		position: fixed;
		z-index: 9999;
		background-color: transparent;
		background-image: url('../img/DAGicon.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 4rem;
		aspect-ratio: 1;
		border: 0;
		top: 2rem;
		right: 2rem;
	}

	.navToggle.active {
		background-image: url('../img/X.png');
	}
}

/* Hero Section Styles */
.hero {
	background-image: url('../img/DAGmainLogo.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 75vh;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.hero-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: var(--text-color);
}

.hero h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

.hero p {
	font-size: 18px;
	margin-bottom: 30px;
}

.quote-btn {
	width: 100px;
	display: block;
	margin: auto;
	margin-bottom: 5rem;
	padding: 10px 25px;
	background-color: var(--first-color);
	color: var(--text-color);
	text-align: center;
	text-decoration: none;
	border-radius: 2rem;
}

/* Gallery Section Styles */

.gallery {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: var(--body-color);
	overflow: hidden;
}

.gallery .carousel {
	width: 300px;
	margin: 3rem auto 0;
	overflow: visible;
}

/* @media (max-width = 420px) {
	.carousel {
		margin: 3rem auto 0;
	}
} */

.carousel img {
	margin-bottom: 75px;
	border-radius: 10px;
	/* -webkit-box-reflect: below 20px linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3)); */
}

/* Services Section Styles */

.services {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.services img {
	width: 10rem;
	height: 10rem;
}

.servicesContainer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	flex-wrap: wrap;
	z-index: 1;
}

.servicesContainer .services-card {
	position: relative;
	width: 300px;
	height: 450px;
	margin: 30px;
	border-radius: 15px;
	background-color: rgba(166, 167, 171, 0.6);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	/* border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.3); */
	border-top: 1px solid var(--first-color);
	border-left: 1px solid var(--first-color);
}

.servicesContainer .services-card .services-content {
	padding: 20px;
	text-align: center;
	transition: 0.5s;
}

.services-content p {
	font-size: 1em;
	color: var(--text-color);
	font-weight: 300;
}

.services-content a {
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	margin-top: 15px;
	background: var(--first-color);
	color: var(--text-color);
	text-decoration: none;
	border-radius: 20px;
	font-weight: 500;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.services-content h3 {
	color: var(--body-color);
}

/* Contact Section Styles */
.contact {
	background-color: var(--body-color);
	background: url(../img/DAGicon.png) no-repeat center;
	padding: 50px;
	color: var(--text-color);
}

.contact h2 {
	font-size: 30px;
	margin-bottom: 20px;
}

.contact h2,
p {
	text-align: center;
}

.contact form input,
.contact form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 4px;
}

.contact form button {
	padding: 10px 20px;
	background-color: var(--first-color);
	color: var(--text-color);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.contactPhone {
	display: block;
	width: 150px;
	padding: 8px 20px;
	margin: auto;
	margin-top: 25px;
	text-align: center;
	background: var(--first-color);
	color: var(--text-color);
	text-decoration: none;
	border-radius: 20px;
	font-weight: 500;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Footer Styles */
footer {
	background-color: var(--body-color);
	color: var(--text-color);
	text-align: center;
	padding: 20px;
}
