/* Global Styles */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #0b0b0d;
	color: white;
	overflow-x: hidden;
}

.flex {
	display: flex;
	gap: 1rem;
}

/* Header Styles */
header {
	background-color: #0b0b0d;
	color: white;
	padding: 10px;
	align-items: center;
	justify-content: space-between;
}

.mobile-nav-toggle {
	display: none;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: rgb(0, 0, 0, 0.9);
}

@supports (backdrop-filter: blur(0.3rem)) {
	nav ul {
		background: rgb(167, 168, 172, 0.2);
		backdrop-filter: blur(0.3rem);
	}
}

nav ul li {
	display: inline;
	margin-right: 10px;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

.logo img {
	height: 35px;
}

@media (max-width: 35em) {
	.primary-navigation {
		position: fixed;
		z-index: 1000;
		inset: 0 0 0 30%;
		gap: 2rem;
		padding: min(30vh, 10rem) 2em;
		flex-direction: column;

		transform: translateX(100%);
		transition: transform 350ms ease-in-out;
	}

	.logo img {
		display: none;
	}

	.primary-navigation[data-visible="true"] {
		transform: translateX(0%);
	}

	.mobile-nav-toggle {
		display: block;
		position: absolute;
		z-index: 9999;
		background-color: transparent;
		background-image: url("../img/DAGicon.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 3rem;
		aspect-ratio: 1;
		border: 0;
		top: 2rem;
		right: 2rem;
	}

	.mobile-nav-toggle[aria-expanded="true"] {
		background-image: url("../img/X.png");
	}
}

/* Hero Section Styles */
.hero {
	background-image: url("../img/DAGmainLogo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 500px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.hero-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: white;
}

.hero h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

.hero p {
	font-size: 18px;
	margin-bottom: 30px;
}

.quote-btn {
	width: 100px;
	display: block;
	margin: auto;
	margin-bottom: 5rem;
	padding: 10px 25px;
	background-color: red;
	color: white;
	text-align: center;
	text-decoration: none;
	border-radius: 2rem;
}

/* Gallery Section Styles */
.gallery {
	background-color: #0b0b0d;
	padding: 50px;
	color: white;
}

.gallery h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

.image-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 20px;
}

.image-item img {
	width: 100%;
	height: auto;
	border-radius: 4px;
}

/* About Section Styles */
.about {
	background-color: #a7a8ac;
	padding: 50px;
	color: white;
}

.about h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

/* Contact Section Styles */
.contact {
	background-color: #0b0b0d;
	background: url(../img/DAGicon.png) no-repeat center;

	padding: 50px;
	color: white;
}

.contact h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

.contact form input,
.contact form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 4px;
}

.contact form button {
	padding: 10px 20px;
	background-color: red;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* Footer Styles */
footer {
	background-color: #0b0b0d;
	color: white;
	text-align: center;
	padding: 20px;
}
